<div>
    <script type="text/ng-template" id="activity.html">
        <div ui-view="activity_top"></div>
        <div ui-view="activity_content" class="page-slide-left-right"></div>
    </script>
    <script type="text/ng-template" id="activity_header.html">
        <div class="sub_title text-center">
            <img class="img_left" ng-src="img/title_left.png" ng-click="back()">
            <span id="title_font">活动列表&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <img class="img_right" ng-show="false" ng-src="img/add_icon.png" ng-click="home()">
        </div>
    </script>
    <script type="text/ng-template" id="activity_body.html">
        <div ng-repeat="item in activity_items">
            <div class="activity_rect" ng-click="activityDetail('1')">
                <img class="activity_state" ng-src="img/activity_done.png">
                <img class="activity_rect_pic" ng-src="img/activity_test.png">
                <div class="activity_rect_word text-center">
                    <span class="activity_rect_word_1">十一促销活动</span>
                    <span class="activity_rect_word_1">牡丹园北里</span>
                    <span class="activity_rect_word_2">2014/10/01—2014/10/12</span>
                </div>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="activity_detail.html">
        <div>
            <div id="activity_detail_title">牡丹园北里物理网格</div>
            <div>
                <div class="activity_detail_label">主题：联通4G推广“逆天”行动</div>
                <div class="activity_detail_label">时间：2014年10月01日——2014年10月12日</div>
                <div class="activity_detail_label">口号：联通4G逆天大升级</div>
                <div class="activity_detail_label">人物：各营业厅员工及市场部相关人员</div>
                <div class="activity_detail_list">
                    <div  class="row">
                        <div class="col-25 activity_detail_list_title">88月88号</div>
                        <div class="col-75">活动场面热烈，当天截止上午12点40分，已经完成102个用户的4G升级。其中有47人选择了本地版、33人选择了共享版、32人选择了全国版</div>
                    </div>
                    <div class="row">
                        <div class="col-25"></div>
                        <div class="col-75 activity_imgs">
                            <span><img ng-src="img/activity_done.png"></span>
                            <span><img class="activity_img_relative" ng-src="img/activity_done.png"></span>
                            <span><img class="activity_img_relative" ng-src="img/activity_done.png"></span>
                        </div>
                    </div>
                </div>
                <div class="activity_detail_list">
                    <div  class="row">
                        <div class="col-25 activity_detail_list_title">10月2号</div>
                        <div class="col-75">活动场面热烈，当天截止上午12点40分，已经完成102个用户的4G升级。其中有47人选择了本地版、33人选择了共享版、32人选择了全国版</div>
                    </div>
                    <div class="row">
                        <div class="col-25"></div>
                        <div class="col-75 activity_imgs">
                            <span><img ng-src="img/activity_done.png"></span>
                            <span><img class="activity_img_relative" ng-src="img/activity_done.png"></span>
                            <span><img class="activity_img_relative" ng-src="img/activity_done.png"></span>
                        </div>
                    </div>
                </div>
                <div class="activity_detail_list">
                    <div  class="row">
                        <div class="col-25 activity_detail_list_title">10月2号</div>
                        <div class="col-75">活动场面热烈，当天截止上午12点40分，已经完成102个用户的4G升级。其中有47人选择了本地版、33人选择了共享版、32人选择了全国版</div>
                    </div>
                    <div class="row">
                        <div class="col-20"></div>
                        <div class="col-75 activity_imgs">
                            <span><img ng-src="img/activity_done.png"></span>
                            <span><img class="activity_img_relative" ng-src="img/activity_done.png"></span>
                            <span><img class="activity_img_relative" ng-src="img/activity_done.png"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
</div>