<div ng-repeat="content in reportContentList">
    <div class="row">
        <div class="col">
            <span ng-class="{sub_title_icon:$index==0,sub_title_icon_green:$index==1}">&nbsp;</span>&nbsp;<span class="sub_title_word">{{content.catalogName}}</span>
        </div>
    </div>
    <div class="row hr_style" ng-repeat="menu in content.menuList" ng-click="reportDetail(menu)">
        <div class="col">
            &nbsp;&nbsp;<img ng-src="{{menu.imgUrl}}" class="report_nav_icon">&nbsp;{{menu.menuName}}
        </div>
    </div>
</div>
