<div class="row no_padding" ng-repeat="menuArray in menuList">
    <div class="col no_padding rect_list" ng-repeat="menu in menuArray" ng-click="quotaDetail(menu)" ng-class="{rect_list_left:$index%2==0,rect_list_right:$index%2==1}" style="background-color: {{menu.color}}">
        <span class="rect_list_icon"><img src="img/quota_detail_icon.png"></span>
        <span class="rect_list_word">{{menu.menuName}}</span>
    </div>
    <div ng-if="menuArray[1]==undefined" class="col no_padding rect_list rect_list_right rect_list_end">
        <span class="rect_list_icon"><img src="img/quota_more_icon.png"></span>
        <span class="rect_list_word">敬请期待{{menuArray[menuArray.length-1][1]}}</span>
    </div>
</div>
<div class="row no_padding" ng-if="menuList[menuList.length-1][1]!=undefined">
    <div class="col no_padding rect_list rect_list_left rect_list_end">
        <span class="rect_list_icon"><img src="img/quota_more_icon.png"></span>
        <span class="rect_list_word">敬请期待</span>
    </div>
    <div class="col"></div>
</div>